<!-- Frase inicial -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/images/image01.png" class="d-block mx-lg-auto img-fluid" alt="Pets" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-2 fw-bold lh-1 mb-3">Pet Track, <br> rede de busca <br> de animais</h1>
            <p class="lead">Pets amam incondicionalmente, você só precisa ajudá-los a achar seu lar.</p>
            <div class="text-end-reverse" *ngIf="!usuarioLogado">
                <a routerLink="cadastro"><button class="btn btn-bd-primary" type="button">Faça Parte!</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Menu Features -->
<div class="container col-xxl-8 px-4 py-5">
    <br>
    <br>
    <h1 class="display-5 fw-bold text-center">Nossos Serviços</h1>

    <div class="px-4 py-5 my-5 text-start">
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-white d-inline-flex align-items-start justify-content-lg-start fs-4 flex-shrink-0 me-3">
                    <img src="/assets/images/ap icon.png" width="99.82px" height="119.7px" alt="">
                </div>
                <div>
                    <h3 class="fs-2-amarelo">Adota Pet</h3>
                    <p>Primordial para nossa comunidade, o Adota Pet está aqui para os auxiliar a encontrar seu fiel novo parceiro. Juntamente com instituições locais, você pode verificar quais animais estão disponíveis para adoção.</p>
                    <a routerLink="adota-pet"><button class="btn btn-amarelo"> Saiba mais</button></a>                
                </div>
            </div>
            <div class="col d-flex align-items-left">
                <div class="icon-square text-bg-white d-inline-flex align-items-left justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="/assets/images/bp icon.png" width="121px" height="121px" alt="">
                </div>
                <div>
                    <h3 class="fs-2-azul">Busca Pet</h3>
                    <p>Com essa função, você conseguem postar foto do seu animal que fugiu, última localização com um raio aproximado de onde ele possa estar, nossa comunidade fará o resto.</p>
                    <a routerLink="pet-track"><button class="btn btn-azul"> Saiba mais</button></a>  
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-white d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="/assets/images/pc icon.png" width="101.84px" height="110.63px" alt="">
                </div>
                <div>
                    <h3 class="fs-2-verde">Pet Care</h3>
                    <p>Como um facilitador, aqui você consegue encontrar Pet Shops e Hospitais Veterinários próximos a você, com todos os contatos necessários.</p>
                    <a routerLink="pet-care"><button class="btn btn-verde"> Saiba mais</button></a>  
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-white d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="/assets/images/ongs icon.png" width="108.9px" height="102.02px" alt="">
                </div>
                <div>
                    <h3 class="fs-2-vermelho">ONG's</h3>
                    <p>Para finalizar, temos a sessão para doações a instituiçoes locais, caso você não possa ter um animalzinho em casa, poderá contribuir para o bem-estar dos pets da cidade.</p>
                    <a routerLink="comunidade"><button class="btn btn-vermelho"> Saiba mais</button></a>  
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Funcionamento sistema -->
<div class="album py-5 bg-light">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h3>Nos ajude a encontrar os pets da cidade</h3>
                <p class="fs-5 mb-4">Com a sua ajuda, será possível encontrar a maior quantidade de pets perdidos pela
                    cidade, nossa ferramenta foi desenvolvida especialmente para ajudar a comunidade a encontrar nossos
                    queridos amigos. Através do nosso banco de dados e informações disponibilizadas pela nossa rede de
                    compartilhamento, conseguimos verificar possíveis locais que os pets possam estar.</p>
            </div>
            <div class="col-lg-6 col-sm-8">
                <img src="assets/images/esquema.png" class="d-block mx-lg-auto img-fluid" alt="Celular" width="500px"
                    height="296.19px" loading="lazy">
            </div>
        </div>
    </div>
</div>

  
<!-- Parceiros -->
<div class="row flex-lg-row align-items-start g-5 py-5">
    <div class="col-10 col-sm-6 col-lg-2 gatinho">
        <img src="assets/images/cat.png" id="gatolateral" class="d-block mx-lg-fixed img-fluid" alt="Gato" width="400" height="600">
    </div>
    <div class="col-lg-8">
        <div class="px-4 py-5 my-5 text-center">
            <h2 class="display-4 fw">Conheça nossos parceiros</h2>
            <br>
            <div class="col-lg-10 mx-auto">
                <h5 class="lead">Algumas das companhias que abraçam a causa e <br>
                    nos ajudam a tirar nossos amigos das ruas.</h5>
                <br>
                <br>
            </div>
            <div class="display-4 fw">
                <li class="d-grid gap-5 d-sm-flex justify-content-sm-center">
                    <a href="https://www.entra21.com.br" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/entra21.png" alt="" width="215" height="71"></a>
                    <a href="https://fapesc.sc.gov.br" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/fapesc.png" alt="" width="246" height="124"></a>
                    <a href="https://www.nsctotal.com.br/home" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/nsc.png" alt="" width="246" height="141"></a>
            </div>
        </div>
    </div>
</div>    

<!-- Venha colaborar -->
<div class="album py-5 bg-light">
    <div class="container col-xxl-10 px-10 py-10">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <br>
            <div class="col-md-2 offset-md-2 mb-3">
                <div class="text-end-reverse d-flex flex-column flex-bg-row w-60 gap-2">

                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <h5 class="lead">Venha colaborar com nosso negócio! <br>
                    Seja um pet tracker.</h5>
            </div>
            <br>
        </div>
    </div>
</div>