<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light-bold">Pet Care</h1>
          <p class="lead text-muted">Como um facilitador, aqui você consegue encontrar Pet Shops e Hospitais Veterinários próximos 
            a você, com todos os contatos necessários. <br> Função de caderneta de vacinas e consultas agendadas.</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-white">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets\images\ps_sos.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pet Shop 1</title>
              <div class="card-body">
                <h5 class="card-title">Sos Hospital Veterinário</h5>
                <p class="card-text">O SOS Hospital Veterinário atua desde o ano de 2006 na região de Criciúma com inúmeros serviços voltados para o setor pet.
                  Nosso atendimento no hospital é ininterrupto e contamos com exames de ultrassom, laboratório e raio-X 24 horas.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Contato</button>
                  </div>
                  <small class="text-muted">1d 2h</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets\images\ps_planeta.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pet Shop 2</title>
  
              <div class="card-body">
                <h5 class="card-title">Pet Shop Planeta Animal</h5>
                <p class="card-text">Planeta Animal é uma Clinica Veterinária que está no mercado há treze anos oferecendo serviços ligados a saúde animal, consultas, cirurgias, radiografia, internação, ultrassonografia, vacinas, e um completo centro de estética.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Contato</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets\images\ps_hospital_vet.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pet Shop 3</title>
  
              <div class="card-body">
                <h5 class="card-title">Hospital Veterinário Criciúma</h5>
                <p class="card-text">Hospital Veterinário Criciúma, com pronto atendimento 24 horas.
                  Seu pet não tem hora para ficar doente. Amamos a nossa profissão, é incrível o contato com os pacientes. Atuar no bem dos animais é sim
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Contato</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="assets\images\ps_pelo_e_pele.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pet Shop 4</title>
              <div class="card-body">
                <h5 class="card-title">Pet Shop Pelo e Pele</h5>
                <p class="card-text">Especializados no cuidado da pele do seu animal de estimação. <br>
                  <br>
                  <br>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Contato</button>
                  </div>
                  <small class="text-muted">1d 2h</small>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
  </main>