<!-- Tela Cadastro -->
<div class="modal modal-signin position-static d-block bg-white py-5" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-1 border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" routerLink="/"></button>
            </div>
            <div class="mb-0 py-3 text-center">
                <img src="/assets/images/logo.png" alt="" width="150" height="150">
            </div>
            <div class="modal-header p-5 pb-4 py-1 border-bottom-0">
                <h2 class="fw-bold mb-0">Cadastre seu Pet</h2>
            </div>
            <div class="modal-body p-5 pt-0">
              <mat-stepper #stepper orientation="vertical">
                <mat-step [stepControl]="PerfilFormGroup" errorMessage="Existem campos não preenchido ou inválidos.">
                  <form [formGroup]="PerfilFormGroup">
                    <ng-template matStepLabel>Informações do Pet</ng-template>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Nome do Pet:</mat-label>
                        <input matInput placeholder="Insira o nome do pet" formControlName="nome" maxlength="100">
                        <mat-hint>
                          <text-error-message  
                          *ngIf="PerfilFormGroup.get('nome')?.errors?.['required'] && (PerfilFormGroup.get('nome')?.touched || submit)"
                          text="Este campo é obrigatório">
                        </text-error-message>
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Idade do Pet:</mat-label>
                        <input matInput placeholder="Insira a idade do pet" formControlName="idade" mask="00" maxlength="2">
                        <mat-hint>
                          <text-error-message  
                          *ngIf="PerfilFormGroup.get('idade')?.errors?.['required'] && (PerfilFormGroup.get('idade')?.touched || submit)"
                          text="Este campo é obrigatório">                          
                          </text-error-message>
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Raça do Pet:</mat-label>
                        <input matInput placeholder="Insira a raça do Pet" formControlName="raca">
                        <mat-hint>
                          <text-error-message  
                          *ngIf="PerfilFormGroup.get('raca')?.errors?.['required'] && (PerfilFormGroup.get('raca')?.touched || submit)"
                          text="Este campo é obrigatório">
                        </text-error-message>
                        </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <input type="file" formControlName="foto" class="absolute top-0 z-10 h-full w-full cursor-pointer opacity-0" accept=".jpeg,.jpg,.png"/>
                        <mat-label>Foto do pet</mat-label>
                        <input matInput cdkFocusInitial class="z-0"/>
                        <mat-icon matSuffix class="mr-2">cloud_upload</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn btn-outline-dark btn-sm" type="button" matStepperNext>Próximo</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="AcessoFormGroup" errorMessage="Existem campos não preenchido ou inválidos.">
                    <form [formGroup]="AcessoFormGroup">
                      <ng-template matStepLabel>Dados cadastrais</ng-template>
                      <div class="row mt-2">
                        <mat-form-field appearance="outline">
                          <mat-label>Email:</mat-label>
                          <input matInput placeholder="Insira seu email" formControlName="email" maxlength="50">
                          <mat-hint>
                            <text-error-message  
                            *ngIf="AcessoFormGroup.get('email')?.errors?.['required'] && (AcessoFormGroup.get('email')?.touched || submit)"
                            text="Este campo é obrigatório">
                            </text-error-message>
                            <text-error-message  
                              *ngIf="AcessoFormGroup.get('email')?.errors?.['email'] && (AcessoFormGroup.get('email')?.touched || submit)"
                              text="Campo inválido">                        
                            </text-error-message>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="row mt-2">
                        <mat-form-field appearance="outline">
                          <mat-label>Senha:</mat-label>
                          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Insira sua senha" formControlName="senha" maxlength="10">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-hint>
                            <text-error-message  
                            *ngIf="AcessoFormGroup.get('senha')?.errors?.['required'] && (AcessoFormGroup.get('senha')?.touched || submit)"
                            text="Este campo é obrigatório">
                            </text-error-message>
                            <text-error-message  
                            *ngIf="AcessoFormGroup.get('senha')?.errors?.['invalidSenha'] && (AcessoFormGroup.get('senha')?.touched || submit) && 
                            !AcessoFormGroup.get('senha')?.errors?.['required']"
                            [text]="AcessoFormGroup.get('senha')?.errors?.['Motivo']">
                            </text-error-message>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="row mt-2">
                        <mat-checkbox formControlName="termo">
                          <small>
                              Li e concordo com o <a><b>termo de consentimento</b></a> e aceito os termos e condições!
                          </small>
                        </mat-checkbox>
                      </div>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                        <spinner-component [hidden]="!loading"></spinner-component>
                        <button class="btn btn btn-outline-dark btn-sm" type="button" [hidden]="loading" matStepperPrevious>Voltar</button>
                        <button class="btn btn btn-success btn-sm" (click)="Salvar()" [hidden]="loading" type="button" matStepperNext>Salvar</button>
                      </div>
                    </form>
                  </mat-step>
                <mat-step [stepControl]="EnderecoFormGroup">
                  <form [formGroup]="EnderecoFormGroup">
                    <ng-template matStepLabel>Localização</ng-template>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Cep:</mat-label>
                        <input matInput placeholder="Insira o seu cep" formControlName="cep" mask="00000-000">
                        <button mat-icon-button matSuffix (click)="PesquisarEndereco()" [disabled]="EnderecoFormGroup.get('cep')?.errors?.['minlength'] || EnderecoFormGroup.get('cep')?.value == '' ">
                          <mat-icon>search</mat-icon>
                        </button>  
                        <mat-hint>
                          <text-error-message  
                          *ngIf="EnderecoFormGroup.get('cep')?.errors?.['minlength'] && (EnderecoFormGroup.get('cep')?.touched || submit)"
                          text="Campo inválido">
                        </text-error-message>
                        </mat-hint>
                      </mat-form-field>  
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Cidade:</mat-label>
                        <input matInput formControlName="cidade"readonly="true">
                        <button mat-icon-button matSuffix disabled="true" [hidden]="EnderecoFormGroup.get('rua')?.value != ''">
                          <mat-icon>block</mat-icon>
                        </button> 
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Bairro:</mat-label>
                        <input matInput formControlName="bairro" readonly="true">
                        <button mat-icon-button matSuffix disabled="true" [hidden]="EnderecoFormGroup.get('rua')?.value != ''">
                          <mat-icon>block</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Rua:</mat-label>
                        <input matInput formControlName="rua" readonly="true">
                        <button mat-icon-button matSuffix disabled="true" [hidden]="EnderecoFormGroup.get('rua')?.value != ''">
                          <mat-icon>block</mat-icon>
                        </button> 
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Número:</mat-label>
                        <input matInput formControlName="numero" maxlength="6" type="number" [readonly]="EnderecoFormGroup.get('rua')?.value == ''">
                        <button mat-icon-button matSuffix disabled="true" [hidden]="EnderecoFormGroup.get('rua')?.value != ''">
                          <mat-icon>block</mat-icon>
                        </button> 
                      </mat-form-field>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <spinner-component [hidden]="!loading"></spinner-component>
                      <button class="btn btn btn-outline-dark btn-sm" [hidden]="loading" type="button" matStepperPrevious>Voltar</button>
                      <button class="btn btn btn-outline-dark btn-sm" [hidden]="loading" type="button" matStepperNext>Próximo</button>
                    </div>
                  </form>
                </mat-step>
              </mat-stepper>
            </div>
        </div>
    </div>
</div>