<div class="modal modal-signin position-static d-block bg-white py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-1 border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" routerLink="/"></button>
            </div>
            <div class="mb-0 py-3 text-center">
                <img src="/assets/images/logo.png" alt="" width="150" height="150">
            </div>
            <div class="modal-header p-5 pb-4 py-1 border-bottom-0">
                <h2 class="fw-bold mb-0">Login</h2>
            </div>
            <form class="needs-validation" [formGroup]="LoginFormGroup" (ngSubmit)="Login(LoginFormGroup)" autocomplete="off">
                <div class="modal-body p-5 pt-0">
                    <div class="row mt-2">
                        <mat-form-field appearance="outline">
                          <mat-label>Email:</mat-label>
                          <input matInput placeholder="Insira seu email" formControlName="emailLogin" maxlength="50">
                          <mat-hint>
                            <text-error-message
                            *ngIf="LoginFormGroup.get('emailLogin')?.errors?.['required'] && (LoginFormGroup.get('emailLogin')?.touched || submitLogin)"
                            text="Este campo é obrigatório">
                          </text-error-message>
                          </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row mt-2">
                        <mat-form-field appearance="outline">
                          <mat-label>Senha:</mat-label>
                          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Insira sua senha" formControlName="senhaLogin" maxlength="10">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                          <mat-hint>
                            <text-error-message
                            *ngIf="LoginFormGroup.get('senhaLogin')?.errors?.['required'] && (LoginFormGroup.get('senhaLogin')?.touched || submitLogin)"
                            text="Este campo é obrigatório">
                            </text-error-message>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <spinner-component [hidden]="!loading"></spinner-component>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" [hidden]="loading" matTooltip="Logar!" type="submit">Continuar</button>
                      </div>
                    <small class="text-muted">© Pet Track, Inc. 2022. We love our users!</small>
                </div>
            </form>
        </div>
    </div>
</div> 

