<!-- Tela Cadastro -->
<div class="modal modal-signin position-static d-block bg-white py-5" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-1 border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" routerLink="/"></button>
            </div>
            <div class="mb-0 py-3 text-center" >
                <img src="/assets/images/logo.png" alt="" width="150" height="150">
            </div>
            <div class="modal-header p-5 pb-4 py-1 border-bottom-0">
                <h2 class="fw-bold mb-0">Cadastre-se</h2>
            </div>
            <div class="modal-body">
              <form class="form-signin"  [formGroup]="UserRegisterFormGroup" (ngSubmit)="RegisterUsuario(UserRegisterFormGroup)" autocomplete="off">
                <mat-tab-group>       
                  <mat-tab label="Principal">
                    <div class="mb-3 mt-3">
                      <label for="email" class="form-label">Nome:<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                      <input type="text" formControlName="nome" maxlength="150" class="form-control form-control-sm" id="nome" placeholder="Insira seu nome" name="nome">
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('nome')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                      </text-error-message>
                    </div>
                    <div class="mb-3 mt-3">
                      <label for="email" class="form-label">Email:<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                      <input type="email" formControlName="email" maxlength="150" class="form-control form-control-sm" id="email" placeholder="Insira seu email" name="email">
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('email')?.errors?.['email'] && submitRegister"
                        text="Campo inválido!">
                      </text-error-message>
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('email')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                      </text-error-message>
                    </div>
                    <div class="mb-3 mt-3">
                      <label for="email" class="form-label">CPF:<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                      <input type="text" [mask]= "'000.000.000-00'" formControlName="CPF" maxlength="14" class="form-control form-control-sm" id="CPF" placeholder="Insira seu CPF" name="CPF">
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('CPF')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                      </text-error-message>
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('CPF')?.errors?.['minlength'] && submitRegister"
                        text="Campo inválido!">
                      </text-error-message>
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label">Senha:<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                      <div class="input-group">
                        <input [type]="ActiveEyePasswordRegister ? 'text' : 'password'" 
                        class="form-control form-control-sm" 
                        formControlName="senha"
                        placeholder="Insira sua senha" 
                        maxlength="10" id="pwd"  name="pswd"             
                        aria-label="Senha" 
                        aria-describedby="div-eye">
                        <div class="input-group-append">
                          <div class="eye-password" id="div-eye" (click)="EyePasswordRegister()">
                            <i [class]="ActiveEyePasswordRegister ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
                          </div>
                        </div>
                      </div>
                      <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('senha')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                      </text-error-message>
                      <text-error-message  
                      *ngIf="UserRegisterFormGroup.get('senha')?.errors?.['invalidSenha'] && submitRegister && 
                      !UserRegisterFormGroup.get('senha')?.errors?.['required']"
                      [text]="UserRegisterFormGroup.get('senha')?.errors?.['Motivo']">
                      </text-error-message>
                    </div>
                    <button type="submit" class="submit-login" [disabled]="loading">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span [hidden]="loading">Cadastrar</span>
                    </button>       
                  </mat-tab>
                  <mat-tab label="Endereço">
                    Content 2
                  </mat-tab>
                </mat-tab-group>       
                <button type="submit" class="submit-login" [disabled]="loading">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span [hidden]="loading">Cadastrar</span>
                </button>         
              </form> 
            </div>
        </div>
    </div>
</div>