<!-- Página erro 401 -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
          <img src="assets/images/pagina_erro_401.png" class="d-block mx-lg-auto img-fluid" alt="Pets" width="700"
              height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
          <h1 class="display-2 fw-bold lh-1 mb-3">401 Unauthorized <br> Ops! Parece que você não pode acessar essa página.</h1>
          <p class="lead">Tente voltar ao início clicando no botão abaixo.</p>
          <div class="text-end-reverse">
              <a routerLink="/"><button class="btn btn-primary" type="button">Início</button></a>
          </div>
      </div>
  </div>
</div>