.btn{
    font-size: 20px;
    color: #ffffff;
    background-color: #eb6969;
    padding: 8px 50px;
    border-radius: 30px;
    border-color: #ffffff00;
    --bs-btn-hover-color: var(--bs-btn-hover-border-color);
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #eb6969;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}