<!-- Página Perfil -->

<div class="modal modal-signin position-static d-block bg-white py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-1 border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" routerLink="/"></button>
      </div>
      <div class="mb-0 py-3 text-center">
        <img src="/assets/images/user.png" alt="" width="150" height="150">
      </div>
      <div class="modal-header p-5 pb-4 py-1 border-bottom-0">
        <h2 class="fw-bold mb-0">%Seu nome%</h2>
      </div>

      <nav>
        <div class="nav nav-tabs mb-3 p-5 py-1" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
            type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Dados Pessoais</button>
          <button class="nav-link" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address" type="button"
            role="tab" aria-controls="nav-address" aria-selected="false" tabindex="-1">Endereço</button>
            <button class="nav-link" id="nav-acesso-tab" data-bs-toggle="tab" data-bs-target="#nav-acesso" type="button"
            role="tab" aria-controls="nav-acesso" aria-selected="false" tabindex="-1">Dados de Acesso</button>
        </div>
      </nav>
      <!-- Dados Pessoais -->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="mb-3 p-5 py-1">
            <label for="Nome" class="form-label">Nome</label>
            <input formControlName="nome" type="string" class="form-control" id="nome">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="Telefone" class="form-label">Telefone</label>
            <input formControlName="telefone" type="number" class="form-control" id="telefone">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="CPF" class="form-label">CPF</label>
            <input formControlName="cpf" type="string" class="form-control" id="cpf">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="CPF" class="form-label">Data de Nascimento</label>
            <input formControlName="dataNascimento" type="number" class="form-control" id="cpf">
          </div>
        </div>
        <!-- Endereco -->
        <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
          <div class="mb-3 p-5 py-1">
            <label for="CEP" class="form-label">CEP</label>
            <input formControlName="cep" type="number" class="form-control" id="cep">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="Cidade" class="form-label">Cidade</label>
            <input formControlName="cidade" type="string" class="form-control" id="cidade">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="Bairro" class="form-label">Bairro</label>
            <input formControlName="bairro" type="string" class="form-control" id="bairro">
          </div>
          <div class="mb-3 p-5 py-1">
            <label for="Rua" class="form-label">Rua</label>
            <input formControlName="rua" type="string" class="form-control" id="rua">
          </div>
        </div>
        <!-- Dados Acesso -->
        <div class="tab-pane fade" id="nav-acesso" role="tabpanel" aria-labelledby="nav-acesso-tab">
          <div class="mb-3 p-5 py-1">
            <label for="Email" class="form-label">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>