  <div class="modal modal-sheet position-static d-block bg-white py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
                <div class="modal-header border-bottom-0 ">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dados</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Localização</button>
                    </div>
                </nav>
            </div>
            <div class="modal-body py-0">
                <p>Campo que puxa descrição do Banco de Dados</p>
            </div>
        </div>
    </div>
</div>
