<!-- Frase inicial -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/images/image01.png" class="d-block mx-lg-auto img-fluid" alt="Pets" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-2 fw-bold lh-1 mb-3">Pet Track, <br> rede de busca <br> de animais</h1>
            <p class="lead">Pets amam incondicionalmente, você só precisa ajudá-los a achar seu lar.</p>
            <div class="text-end-reverse">
                <button type="button" class="btn btn-bd-primary">Faça Parte!</button>
            </div>
        </div>
    </div>
</div>

<!-- Menu Features -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Nossos Serviços</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="col d-flex align-items-start">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
                <h3 class="fs-2">Adota Pet</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-white">
                Primary button
                </a>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
            <div>
                <h3 class="fs-2">Busca Pet</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                Primary button
                </a>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
                <h3 class="fs-2">Pet Care</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
                </div>
                <div>
                    <h3 class="fs-2">ONG's</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Funcionamento sistema -->
<div class="album py-5 bg-light">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h3>Nos ajude a encontrar os pets da cidade</h3>
                <p class="fs-5 mb-4">Com a sua ajuda, será possível encontrar a maior quantidade de pets perdidos pela
                    cidade, nossa ferramenta foi desenvolvida especialmente para ajudar a comunidade a encontrar nossos
                    queridos amigos. Através do nosso banco de dados e informações disponibilizadas pela nossa rede de
                    compartilhamento, conseguimos verificar possíveis locais que os pets possam estar.</p>
            </div>
            <div class="col-lg-6 col-sm-8">
                <img src="assets/images/esquema.png" class="d-block mx-lg-auto img-fluid" alt="Celular" width="500px"
                    height="296.19px" loading="lazy">
            </div>
        </div>
    </div>
</div>

  
<!-- Pareceiros -->
<div class="row flex-lg-row align-items-left g-5 py-5">
    <div class="col-10 col-sm-6 col-lg-2">
        <img src="assets/images/cat.png" class="d-block mx-lg-auto img-fluid" alt="Gato" width="400" height="600">
    </div>
    <div class="col-lg-8">
        <div class="px-4 py-5 my-5 text-center">
            <h2 class="display-4 fw">Conheça nossos parceiros</h2>
            <br>
            <div class="col-lg-10 mx-auto">
                <h5 class="lead">Algumas das companhias que abraçam a causa e <br>
                    nos ajudam a tirar nossos amigos das ruas.</h5>
                <br>
                <br>
            </div>
            <div class="display-4 fw">
                <li class="d-grid gap-5 d-sm-flex justify-content-sm-center">
                    <a href="https://www.entra21.com.br" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/entra21.png" alt="" width="215" height="71"></a>
                    <a href="https://fapesc.sc.gov.br" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/fapesc.png" alt="" width="246" height="124"></a>
                    <a href="https://www.nsctotal.com.br/home" target="_blank"><img class="d-block mx-auto mb-4"
                            src="assets/sponsors/nsc.png" alt="" width="246" height="141"></a>
            </div>
        </div>
    </div>
</div>    

<!-- Venha colaborar -->
<div class="album py-5 bg-light">
    <div class="container col-xxl-10 px-10 py-10">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <br>
            <div class="col-md-2 offset-md-2 mb-3">
                <div class="text-end-reverse d-flex flex-column flex-bg-row w-60 gap-2">

                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <h5 class="lead">Venha colaborar com nosso negócio! <br>
                    Seja um pet tracker.</h5>
            </div>
            <br>
        </div>
    </div>
</div>